%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [warnings_as_errors,
  warn_export_all]}.

{deps,
 [{eredis_cluster, ".*", {git, "https://github.com/tongdao/eredis_cluster.git", {tag, "0.5.9"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {tag, "v2.8.0"}}}
 ]}.
