%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [warnings_as_errors,
  warn_export_all]}.

{deps,
 [
  {eredis_pool, ".*", {git, "https://github.com/ccredrock/eredis_pool"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {tag, "v2.8.0"}}}
 ]}.
