%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[{eredis_cluster,
  [{init_nodes,
    [{"127.0.0.1", 6379}
    ]},
   {pool_size, 50},
   {pool_max_overflow, 10}
  ]},
 {redis_cache,
  [{reduce_max, 1000},
   {check_time, 500},
   {tables,
    [test1,
     test2,
     test3
    ]}
  ]}
].

